<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Event Ease</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="box-border flex flex-col">
    <header>
        <nav class="sticky top-0 flex flex-row justify-between align-items-center px-10  pb-4 pt-4 border-b-1 border-gray-300 w-full shadow-sm">

         <a asp-controller="Home"  action="Index" class="text-lg font-bold">Logo</a>
         <div class="flex gap-7">
                <a asp-controller="Users" asp-action="Index">User</a>
                <a asp-controller="Bookings" asp-action="Index">Bookings</a>
                <a asp-controller="Venues" asp-action="Index">Venues</a>
                <a asp-controller="CustomerDetails" asp-action="Index">Customer details</a>
                <a asp-controller="Events" asp-action="Index">Events</a>         
         </div>
        </nav>
    </header>
    <div class="pt-20">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
